/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and(max-width: 1000px) {
  html {
    font-size: 14px !important;
  }
}

@media screen and(max-width: 768px) {
  html {
    font-size: 10px !important;
  }
}
